<footer>
    <!-- <hr class="footer-line"> -->
    <p>&copy; 2024 - Palworld G_PRO1_D2 | <a href="https://the-one-api.dev" target="_blank">The One API</a> | <a href="https://lotr.fandom.com/wiki/Main_Page" target="_blank">The One Wiki</a> </p>
</footer>